{% extends 'base.html' %}

{% block title %}Shop{% endblock %}

{% block content %}

    <header class="header-list"></header>

    <section class="search-listing">
            <h1 class="section-sort">{% if category %}{{ category.name }}{% endif %}Sort by</h1>
            <div class="product-container">
                {% for product in products %}
                <div class="product-card">
                        <a href="{{ product.get_absolute_url }}">
                            <img src="{{ product.image.url }}" class="product-img" alt="">
                            <p class="product-name">{{ product.name }}</p>
                            <p class="product-price">${{ product.price }}</p>
                        </a>
                </div>
                {% endfor %}
            </div>
    </section>
{% endblock %}