*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body{
    font-family: 'cinzel', serif;
}

.navbar{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 9;
    transition: 0.5s;
}

.navbar.bg{
    background: #fff;
}

.links-container{
    display: flex;
    align-items: center;
    list-style: none;
}

.link-item{
    margin: 10px;
}

.link{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    opacity: 0.7;
    transition: 0.5s
}

.navbar.bg .link{
    color: #000;
    opacity: 0.5;
}

.link.active, .link:hover, .navbar.bg .link:hover, .navbar.bg .link.active{
    opacity: 1;
}

.user-interactions{
    display: flex;
    position: absolute;
    right: 5vw;
    top: 50%;
    transform: translateY(-50%);
}

.cart, .user{
    width: 30px;
    height: 30px;
    position: relative;
    margin: 10px;
    cursor: pointer;
}

.cart-icon, .user-icon{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart-item-count{
    font-family: 'lato', sans-serif;
    color: #d5be8b;
    padding: 5px;
    font-size: 15px;
    border-radius: 50%;
    background: black;
    position: absolute;
    bottom: -12px;
    left: -12px;
}

.header-home{
    width: 100%;
    height: 100vh;
    display: flex;
    background: url(../img/head3.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.header-heading{
    font-size: 50px;
    text-transform: capitalize;
    color: #8ba2d5;
}

.header-heading span{
    color: #d5be8b;
}

.best-selling-product-section{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 80%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}

.section-title{
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
    margin-top: 30px;
}

.product-container{
    display: flex;
    justify-content: space-between;
}

.product-img{
    width: 100%;
    height: 90%;
}

.product-name, a{
    position: relative;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color: black;
    font-family: 'lato', sans-serif;
    font-size: 20px;
    transition: .5s;
}

.user-icon-popup{
    position: absolute;
    top: 200%;
    padding: 20px;
    background: #fff;
    font-family: 'lato', sans-serif;
    width: 200px;
    right: -70px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #190c05;
    display: none;
}

.user-icon-popup.active{
    display: block;
}

.user-icon-popup p{
    font-size: 1.2rem;
    text-transform: capitalize;
    line-height: 2rem;
}

.user-icon-popup a{
    display: block;
    margin: 20px auto 0;
    text-decoration: none;
    color: #fff;
    background: #d5be8b;
    padding: 10px;
    width: 100px;
    text-transform: capitalize;
    border-radius: 5px;
}

.shop-btn{
    padding: 15px 40px;
    border: none;
    color: #2aabd2;
    outline: solid;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 505px;
    font-size: 20px;
    cursor: pointer;
    text-transform: capitalize;
}


