{% extends 'base.html' %}
{% load cache %}

{% block title %}Shop{% endblock %}

{% block content %}
    {% cache 900 list %}
        <header class="header-list"></header>
    {% endcache %}

    <section class="search-listing">
        {% cache 300 search_listing %}
            <h1 class="section-sort">Reading is Magic!</h1>
            <div class="product-container">
                {% for product in products %}
                <div class="product-card">
                        <a href="{{ product.get_absolute_url }}">
                            <img src="{{ product.image.url }}" class="product-img" alt="">
                            <p class="product-name">{{ product.name }}</p>
                            <p class="product-price">${{ product.price }}</p>
                        </a>
                </div>
                {% endfor %}
            </div>
        {% endcache %}
    </section>
{% endblock %}