.loader{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    z-index: 5;
    display: none;
}

.form-section{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
}

.form-container{
    width: 60%;
    min-width: 300px;
    height: 80vh;
    background: #fff;
    overflow: hidden;
    align-items: center;
    z-index: 2;
    display: flex;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
}

.form-img{
    width: 40%;
    height: 100%;
    object-fit: cover;
}

form{
    width: 60%;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-heading{
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

input{
    width: 90%;
    height: 50px;
    border: 1px solid #b9b9b9;
    margin: 5px 30px;
    padding: 10px;
    line-height: 40px;
    font-family: 'lato', sans-serif;
    color: #000;
    outline: none;
    border-radius: 5px;
}

::placeholder{
    color: #b9b9b9;
    text-transform: capitalize;
}

input:focus{
    border: 2px solid #d5be8b;
}

input:focus::placeholder{
    border: #d5be8b;
}

.error{
    display: block;
    font-size: .8rem;
    color: rgb(255, 41, 41);
    margin: 5px 0;
    text-transform: capitalize;
    font-family: 'lato', sans-serif;
    user-select: none;
    opacity: 0;
}

#id_conditions{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    position: relative;
    margin-left: 14px;
    margin-top: 5px;
    margin-bottom: -13px;
}

#id_conditions:checked{
    background: #d5be8b;
}

#id_conditions::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../img/check.png);
}

#id_conditions:checked::before{
    display: block;
}


.tc-text{
    margin-left: 55px;
    margin-top: 25px;
    font-size: 20px;
    font-family: 'lato', sans-serif;
}

.tc-text a{
    margin-left: 5px;
    text-decoration-line: underline;
    text-transform: none;
    font-size: 20px;
    color: #000;
}

.submit-btn{
    display: block;
    margin: 20px 220px;
    width: 100px;
    padding: .8rem 0;
    border-radius: 0;
    background: #d5be8b;
    color: #fff;
    font-family: 'cinzel';
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
}

.other-form-link{
    font-family: 'lato', sans-serif;
    color: #000;
    margin: 20px 150px;
    text-decoration-line: underline;
    text-transform: none;
    font-size: .9rem;
}